<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ytimserver.mapper.ServiceInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.ytimserver.pojo.ServiceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="manageId" column="manage_id" jdbcType="VARCHAR"/>
            <result property="serverName" column="server_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,manage_id,server_name,
        create_time,end_time
    </sql>
</mapper>
